* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

:root {
    --white: #eff6ff;
    --light-blue: #bfdbfe;
    --blue: #1d4ed8;
    --dark-blue: #172554;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
    display: grid;
    grid-row: 1 / 3;
    grid-template-columns: 1fr 4fr;    
    background-color: var(--dark-blue);
    color: var(--white);
}

.svg-container,
.sidebar-text-container {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 50px;
}

.svg-container svg {
    fill: var(--white);
    height: 20px;
}

.svg-container > div:first-child {
    padding-top: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.sidebar-text-container > div:first-child {
    padding-top: 20px;
    display: grid;
    align-items: center;
    font-size: 30px;
}

.svg-container > div:first-child > svg {
    height: 35px;
}

.sidebar-text-container > div, 
.svg-container > div{    
    display: grid;
    align-items: center;
    grid-auto-rows: 30px;
    gap: 15px;
    font-size: 18px;
}

.svg-container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar a {
    text-decoration: none;
    color: var(--white);
}

.sidebar a:hover {
    font-weight: 700;
}











.header {
    grid-column: 2 / 3;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header > div {
    padding: 30px;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-top > div > input {
    width: 70%;
}

.header-bottom {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header-bottom > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 70px 70px 70px;
}

.main-content {
    display: grid;
    grid-column: 2 / 3;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.main-projects {
    display: grid;
    padding: 30px;
    grid-row: 1 / 3;
    gap: 30px;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-announcements {
    padding: 20px;
}

.main-trending {
    padding: 20px;
}

.main-trending > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.main-trending > div > div:first-child {
    grid-row: 1 / 3;
}